/* styles for To Do List index.html */
/* main body - general formatting */
body {
    background: lightblue;
}
/* heading 1 */
h1 {
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 30pt; 
    font-weight: bold;
    text-align: left;
}
/* span */
span {
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
}
/* divisions with standardDiv class */
.standardDiv {
    border-top: 2px solid darkblue;
    border-bottom: 2px solid darkblue;
    padding: 10px 10px 10px 10px;
    margin-bottom: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
    background:lightskyblue ;
}
/* To Do List Heading Section */
/* toDoListHeading */
/*#toDoListRow {
    border: 2px solid darkblue;
    font-family: Arial, Helvetica, sans-serif;
    background:lightskyblue ;
    text-align: left;
} */
/* apply to image id */
#imgToDoList {
    border: 2px solid  darkblue; 
    width: 100%;
}

/* use flex columns to format heading */
/* and picture - side by side layout */
/* help might be required here */
/* not really got the hang of flex! */
#toDoListHeading {
    display: flex; 
    flex-direction: row;
    margin-top: 2%; 
    margin-bottom: 2%;
}
.column1 {
    /* align column contents to the left */
    justify-content: flex-start; 
}
.column2 {
    /* align column contents to the right */
    justify-content: flex-end;
}



/* Add Task to List Section */
/* addTaskToList */

/* format form to input new task */
/* id addNewTaskForm */
#addNewTaskForm {
    margin: 2%;
}


/* Show Outstanding Tasks Divison
/* showOutstandingTasks

/* apply formatting to taskTable id */
#taskTable {
    border: 2px dashed darkblue;
    color:darkblue;
    margin-top: 2%;
    margin-bottom: 2%;
} 

/* apply formatting to odd numbered table rows class */
.oddRow {
    background: lavender;
  }
/* apply to even numbered table rows */
.evenRow {
    background: palegoldenrod;
 }

 /* footer section */
#toDoListFooter {
    padding: 20px 20px 20px 20px;
    font-size: small;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    color:darkblue;
}
/* examples of CSS media query */
/* @media only screen and (max-width: 600px) {
    body {
        background-color: green;
    }
    h1 {
        font-size:36pt;
    }
}
@media only screen and (max-width:800px) {
    div {background-color:rgba(230,56,160,0.5);
}
} */