/* styles for To Do List index.html */
/* main body - general formatting */
body {
    background: lightblue;
}
/* heading 1 */
h1 {
    color: darkblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 30pt; 
    font-weight: bold;
    text-align: left;
}
/* span */
span {
    font-weight: bold;
}
/* divisions */
div {
    border: 2px solid darkblue;
    padding: 10px 10px 10px 10px;
    margin: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
    background:lightskyblue ;
}
/* To Do List Heading Section */
/* toDoListHeading */

/* apply to image id */
#imgToDoList {
    border: 2px solid  darkblue; 
    color: darkblue;
    width: 40%;
}

/* use flex columns to format heading */
/* and picture - side by side layout */
/* help might be required here */
/* not really got the hang of flex! */
#toDoListHeading {
    display: flex; 
    flex-direction: row; 
}
.column1 {
    /* override the border that is applied to
    div earlier in the CSS */
    padding: 0px 0px 0px 0px;
    border:none;
    text-align: left; 
    width: 90%
}
.column2 {
    /* override the border that is applied to
    div earlier in the CSS */
    padding: 0px 0px 0px 0px;
    border:none;
    text-align: right;
}



/* Add Task to List Section */
/* addTaskToList */

/* format form to input new task */
/* id addNewTaskForm */
#addNewTaskForm {
    margin: 2%;
}


/* Show Outstanding Tasks Divison
/* showOutstandingTasks

/* apply formatting to taskTable id */
#taskTable {
    border: 2px dashed darkblue;
    color:darkblue;
    margin: 2%
}
/* apply formatting to table first column class */
.firstCol{
    width:80%;   
   }
/* apply formatting to odd numbered table rows class */
.oddRow {
    background: lavender;
  }
/* apply to even numbered table rows */
.evenRow {
    background: palegoldenrod;
 }

 /* footer section */
#toDoListFooter {
    padding: 20px 20px 20px 20px;
    font-size: small;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    color:darkblue;
}
/* examples of CSS media query */
@media only screen and (max-width: 600px) {
    body {
        background-color: green;
    }
    h1 {
        font-size:36pt;
    }
}
@media only screen and (max-width:800px) {
    div {background-color:rgba(230,56,160,0.5);
}
